---
---

.home section, h1, #bell {
  margin-bottom: 2.5em;
}

.home nav {
  margin-bottom: 1em;
}

.home nav .active {
  border-bottom: 1px solid;
  // background-color: #225028;
}

#ongoing, #staging, #page, #friend {
  display: none;
}

.ongoing, #ongoing a { color: #0c0199; }
#ongoing a:hover { border-color: #0c0199; }
.completed, #completed a { color: #ddff9c; }
#completed a:hover { border-color: #ddff9c; }
.staging, #staging a { color: #b1b7ff; }
#staging a:hover { border-color: #b1b7ff; }

.email, #email a, #email a:hover { color: #ff9300; border:none; }
.page, #page a { color: #000000; }
#page a:hover { border-color: #000000; }
.friend, #friend a { color: #ffffff; }
#friend a:hover { border-color: #ffffff; }

.tab a {
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}
.tab a:hover {
  border-bottom: 1px solid transparent;
}

.no_link:hover {
  border: 0 !important;
  margin-bottom: 1px;
}


@media (max-width: 600px) {

}
