---
---

html, body {
  height: 100%;
}

#bell {
  width: 27px;
  height: 27px;
  margin-bottom: 1em;
}

#back {
  width: 27px;
  height: 27px;
  background: url(/images/tree.svg) no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat !important;
  display: block;
  margin-bottom: 1em;
}

#back:hover {
  filter: blur(5px);
}

.page {
  /* margin-top: 10px; */
  padding: 15px;
  max-width: 500px;
  border-right: 2px solid #000;
  background: #f3f3f3;
  border-bottom: 2px solid #005000;
  position: relative;
  overflow-wrap: break-word;
  line-height: 1.2;
}

.page h2, .page p {
  margin-bottom: 1em;
}

.page img {
  max-width: 500px;
  width: 100%;
}

.page a {
  color: #663366;
  // border-bottom: 1px solid #663366;
  text-decoration: none;
}

a#button {
  color: #fff;
  background-color: grey;
  padding: 3px;
}

a#button:hover {
  background-color: #005000;
}

@media (max-width: 500px) {
  body {
    width: 100%;
  }
}
